<section class="slider">
    <div class="container">

        <!-- Slider main container -->
        <div class="swiper slider-inner">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide slider-inner__item">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                
            </div>
            <!-- If we need pagination -->
            <ul class="swiper-pagination"></ul>

            <!-- If we need navigation buttons -->
            <button type="button" class="swiper-button-prev"></button>
            <button type="button" class="swiper-button-next"></button>
        </div>


    </div>
</section>